/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../node_modules/angular-calendar/css/angular-calendar.css";

@font-face {
  font-family: Poppins;
  src: url('https://fonts.googleapis.com/css?family=Poppins');
}

:root {
  --font-primary: 'Poppins', sans-serif;
  --primary-yellow: rgb(245 158 11);
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: var(--font-primary);
  background-color: #F0F2F5;
}

* :not(i, .mat-icon){
  font-family: var(--font-primary) !important;
}